In [1]:
import pandas as pd

In [2]:
# Make sure to create the folder where you would use (ipynb , csv files ... etc) before using the notebook !
# Any edits made to the csv file will reflect on restarting the kernel 
raw_csv_data = pd.read_csv("Absenteeism_data.csv")

In [3]:
raw_csv_data.head(20)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,7/7/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,3,23,15-07-15,179,51,38,239.554,31,1,0,0,2
3,7,7,16-07-15,279,5,39,239.554,24,1,2,0,4
4,11,23,23-07-15,289,36,33,239.554,30,1,2,1,2
5,3,23,10/7/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17-07-15,361,52,28,239.554,27,1,1,4,8
7,20,23,24-07-15,260,50,36,239.554,23,1,4,0,4
8,14,19,6/7/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13-07-15,235,11,37,239.554,29,3,1,1,8
10,20,1,20-07-15,260,50,36,239.554,23,1,4,0,8
11,20,1,14-07-15,260,50,36,239.554,23,1,4,0,8
12,20,11,15-07-15,260,50,36,239.554,23,1,4,0,8
13,3,11,15-07-15,179,51,38,239.554,31,1,0,0,1
14,3,23,15-07-15,179,51,38,239.554,31,1,0,0,4
15,24,14,17-07-15,246,25,41,239.554,23,1,0,0,8
16,3,23,17-07-15,179,51,38,239.554,31,1,0,0,2
17,3,21,27-07-15,179,51,38,239.554,31,1,0,0,8
18,6,11,30-07-15,189,29,33,239.554,25,1,2,2,8
19,33,23,5/8/2015,248,25,47,205.917,32,1,2,1,2

In [4]:
#creating a copy of the original csv file (Data at a glance)
#df : data frame 
df = raw_csv_data.copy()

In [ ]:
# Sum based on conditions 
df.loc[(df['ID'] == 20) & (df['Reason for Absence'] == 1), 'Absenteeism Time in Hours'].sum()

In [ ]:
df.head()

In [ ]:
# Used to display all the rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
type(raw_csv_data)

In [ ]:
raw_csv_data

In [ ]:
# A good indicator for a python programmar to ensure complete dataset with no missing entries 
df.info()

In [ ]:
df.describe()

In [ ]:
# to see the values of all columns 
df.columns.values

In [5]:
# "Reason for Absence" code does not have a numerical value (It's a categorical nominal) , we will split it into columns
# Quantitative Analysis is giving those categorical nominal data , a numerical meaning 
# One of the ways to do so , is creating dummy variables : self explanatory binary value that equals 1 if the categorical effect is present and 0 otherwise


# Manipulation step 1 : Split Reasons for Absence into dummy variables outside the df
# Manipulation step 2 : Group the splitted dummy variables into categories
# Manipulation Step 3 : Merge with df after removing the original column

reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True , dtype=int) 
# is equivalent to these two lines 
# reason_columns = pd.get_dummies(df['Reason for Absence'])
# reason_columns = reason_columns.drop([0], axis = 1)
# Now we're going to drop reason 0 to avoid multicollinearity (when one variable can be predicted from the others with a high degree of accuracy)
# Multicollinearity is a statistical concept where several independent variables in a model are correlated with each other
reason_columns.head(20)
# After removing the zero column , the check sum is no longer = 700 and is no longer unique now !!

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
# We can consider this (before removing column zero , as a check for logic data ~ No absence for more than 1 reason)
# by doing <dataframe_name>['new_column'] it is added to the end , but this method intializes the new column while adding it
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head(20)

,1,2,3,4,5,6,7,8,9,10,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [7]:
reason_columns['check'].sum(axis=0)
# for each reason it counts its occurence 
# reason_columns.sum(axis=0)

662

In [8]:
reason_columns['check'].unique()
# expected to be 1 , 0 since there's no other values such as missing or multiple reasons
# if 0 appears , missing data 
# if >1 appears , duplicate data

array([1, 0], dtype=int64)

In [9]:
reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns.head(50)

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
reason_columns.loc[:,15:17]

In [10]:
# with 27 dummy variables , we should consider grouping them into categories
# Grouping the dummy variables into 4 categories = Classing them (classification)
# Classification : re-organizing variables into groups in a regression analysis
# Reason 1 - 14 : Various Diseases
# Reason 15 - 17 : Pregnancy
# Reason 18 - 21 : Poisoning
# Reason 22 - 28 : Light Diseases

# the obtained object is called panda series and not data frame (As well as every other column in the data frame)
reason_type_1 = reason_columns.loc[:,1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:,22:].max(axis = 1)

reason_columns.loc[:,1:14].sum(axis = 1)

0      0
1      0
2      0
3      1
4      0
      ..
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: int64

In [ ]:
reason_type_2.info()

In [11]:
# drop the Reason for Absence , ID columns from the dataset
# axis 0 stands for the y-axis , while axis 1 stands for the x axis 
df.drop(['ID'], axis = 1) 
# drop function shows the data frame after removing the column , it is a temporary output and it doesn't yet reflect the frame
# Use these lines for permenantly deleting the ID column
df = df.drop(['ID'], axis = 1)

df = df.drop(['Reason for Absence'],axis = 1)

In [12]:
df.head(30)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,7/7/2015,289,36,33,239.554,30,1,2,1,4
1,14-07-15,118,13,50,239.554,31,1,1,0,0
2,15-07-15,179,51,38,239.554,31,1,0,0,2
3,16-07-15,279,5,39,239.554,24,1,2,0,4
4,23-07-15,289,36,33,239.554,30,1,2,1,2
5,10/7/2015,179,51,38,239.554,31,1,0,0,2
6,17-07-15,361,52,28,239.554,27,1,1,4,8
7,24-07-15,260,50,36,239.554,23,1,4,0,4
8,6/7/2015,155,12,34,239.554,25,1,2,0,40
9,13-07-15,235,11,37,239.554,29,3,1,1,8
10,20-07-15,260,50,36,239.554,23,1,4,0,8
11,14-07-15,260,50,36,239.554,23,1,4,0,8
12,15-07-15,260,50,36,239.554,23,1,4,0,8
13,15-07-15,179,51,38,239.554,31,1,0,0,1
14,15-07-15,179,51,38,239.554,31,1,0,0,4
15,17-07-15,246,25,41,239.554,23,1,0,0,8
16,17-07-15,179,51,38,239.554,31,1,0,0,2
17,27-07-15,179,51,38,239.554,31,1,0,0,8
18,30-07-15,189,29,33,239.554,25,1,2,2,8
19,5/8/2015,248,25,47,205.917,32,1,2,1,2
20,12/8/2015,330,16,28,205.917,25,2,0,0,8
21,3/8/2015,179,51,38,205.917,31,1,0,0,1
22,10/8/2015,361,52,28,205.917,27,1,1,4,40
23,14-08-15,260,50,36,205.917,23,1,4,0,4
24,17-08-15,289,36,33,205.917,30,1,2,1,8
25,24-08-15,361,52,28,205.917,27,1,1,4,7
26,4/8/2015,289,36,33,205.917,30,1,2,1,1
27,12/8/2015,157,27,29,205.917,22,1,0,0,4
28,19-08-15,289,36,33,205.917,30,1,2,1,8
29,28-08-15,179,51,38,205.917,31,1,0,0,2

In [13]:
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4], axis=1)

In [ ]:
df.head()

In [ ]:
# Now as we look to the concatenated data frame , [0,1,2,3] seems strange , we need to rename them 
df.columns.values

In [14]:
new_column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']

In [15]:
df.columns = new_column_names
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason 1,Reason 2,Reason 3,Reason 4
0,7/7/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14-07-15,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15-07-15,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16-07-15,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23-07-15,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [16]:
# Reorder columns 
ordered_column_names = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4' ,'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
# this is not valid , it only renames but does not order 
## df.columns = ordered_column_names
# instead , you have to do so 
df = df[ordered_column_names]
df.head()
# By doing this only , Wrong data are put with wrong labels

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7/7/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16-07-15,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23-07-15,289,36,33,239.554,30,1,2,1,2

In [ ]:
#two ways of extracting unique elements in a column
df['Body Mass Index'].unique()

In [ ]:
pd.unique(df['Body Mass Index'])

In [ ]:
print(df['Body Mass Index'].min())
print(df['Body Mass Index'].max())
print(len(pd.unique(df['Body Mass Index'])))

In [ ]:
sorted(df['Body Mass Index'].unique())

In [17]:
#Creating a checkpoint by creating a copy for the current state of the df 
df_reason_mod = df.copy()  # version of reasons reordering 
df_reason_mod[:10]

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7/7/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16-07-15,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23-07-15,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,10/7/2015,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,17-07-15,361,52,28,239.554,27,1,1,4,8
7,0,0,0,1,24-07-15,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,6/7/2015,155,12,34,239.554,25,1,2,0,40
9,0,0,0,1,13-07-15,235,11,37,239.554,29,3,1,1,8

In [18]:
# DATE TIME FIXED HERE BY USING THE FOLLOWING LINE 
# df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y') gives an error
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = None, dayfirst=True)
type(df_reason_mod['Date'][0]) # => timestamp
type(df_reason_mod['Date']) # => series
print (df_reason_mod['Date'])

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [19]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')
df_reason_mod['Date'][5].month

7

In [20]:
df_reason_mod.shape

(700, 14)

In [21]:
list_months = []
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [22]:
list_months
df_reason_mod['Month Value'] = list_months
df_reason_mod.head(20)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8

In [23]:
#Monday : 0 ---> Sunday:6
df_reason_mod['Date'][699].weekday()

3

In [24]:
def date_to_weekday(ts):
    return ts.weekday()

In [25]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [26]:
df_date_reason_mod = df_reason_mod.copy()
df_date_reason_mod.head(10)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7,0

In [27]:
print(type(df_date_reason_mod['Transportation Expense'][0]))
print(type(df_date_reason_mod['Distance to Work'][0]))
print(type(df_date_reason_mod['Daily Work Load Average'][0]))
print(type(df_date_reason_mod['Age'][0]))
print(type(df_date_reason_mod['Body Mass Index'][0]))
print(type(df_date_reason_mod['Education'][0]))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [28]:
df_date_reason_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [29]:

df_date_reason_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [30]:
# creating dummy variables using map (0 for highschool , 1 for others)
# mapping {highschool->0 key:value}
df_date_reason_mod['Education'] = df_date_reason_mod['Education'].map({1:0,2:1,3:1,4:1})
# if number of keys != number of values that will result in either naN or error 
# 1,2,3,4 are keys and [0,1] are values to these keys

In [31]:
df_date_reason_mod['Education'].unique()

array([0, 1], dtype=int64)

In [32]:
df_date_reason_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [33]:
df_date_reason_mod = df_date_reason_mod.drop(['Date'], axis = 1)

In [34]:
df_date_reason_mod.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [35]:
reason_month_week_col = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4','Month Value',
       'Day of the Week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [36]:
df_date_reason_mod = df_date_reason_mod[reason_month_week_col]

In [37]:
df_preprocessed = df_date_reason_mod.copy()
df_preprocessed.head(15)
df_preprocessed.describe()

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700.000000,700.000000,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,0.250000,0.008571,0.090000,0.597143,6.36000,2.011429,222.347143,29.892857,36.417143,271.801774,26.737143,0.167143,1.021429,0.687143,6.761429
std,0.433322,0.092250,0.286386,0.490823,3.50501,1.480396,66.312960,14.804446,6.379083,40.021804,4.254701,0.373370,1.112215,1.166095,12.670082
min,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,3.00000,1.000000,179.000000,16.000000,31.000000,241.476000,24.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,0.000000,0.000000,1.000000,6.00000,2.000000,225.000000,26.000000,37.000000,264.249000,25.000000,0.000000,1.000000,0.000000,3.000000
75%,0.250000,0.000000,0.000000,1.000000,10.00000,3.000000,260.000000,50.000000,40.000000,294.217000,31.000000,0.000000,2.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,12.00000,6.000000,388.000000,52.000000,58.000000,378.884000,38.000000,1.000000,4.000000,8.000000,120.000000

In [38]:
df_preprocessed.to_csv("df_preprocessed.csv", index = False)

# Recap 
## Preprocessing stage : In a nutshell , It's the stage where you need to get your data complete , correlated (later on using regression) and has a numerical meaning for the python libraries to work on
### you can use .info() or .describe() to get insights for the data infront of you 
####   - .info() : displays the count of records + type of each record 
####   - .describe() : returns statistical info (count , mean , std,min,max,quartiles)
### after checking on missing entries , We have three categories of data 
#### i) useless and deluding data : such as IDs , we can omit them 
#### ii) categorical data : we can convert them into meaningful numbers using quantitative analysis either by 
#####      1- Creating predefined (automated) dummy variables by using pandas get_dummies (splits itself into external dataframe derived from chosen one)
#####      2- Creating user-defined dummy variables by using the map function (changes the column in its place)
#### iii) Dates : we make sure to convert them into Timestamps with defined format on our choice 

# Important Notes 
## 1- Make sure to be working on a copy from the original file 
## 2- Make sure to be saving checkpoints (so you only run 1 needed cell) 
## 3- No reflection occurs to the files unless the kernel is restarted 
## 4- No reflection occurs from the drop function if no assignment statement is used (it gives only a temporary output for the expected shape after drop)
## 5- useful keywords to look for in this notebook (loc,head,value_counts,map,weekday,apply,.to_datetime,concat,shape)
## 6- Renaming columns method is different to reordering them 

# Hacks 
### 1- get_dummies display zeros and ones if condition drop_first was not used , but if used you will have to specify that you want "1s and 0s" not "Trues or Falses" by making the dtype = int 

### 2- You can query using the loc function